* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
#principal {
  background: linear-gradient(to top, #f1691fa2, #efcc2e8c, #1473b68a);
  font-weight: bold;
  text-align: center;
}
main {
  background-color: white;
  max-width: 800px;
  min-width: 280px;
  margin: auto;
  padding: 0px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.582);
  border-radius: 15px;
}
header {
  padding-top: 20px;
}
.side {
  float: right;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
}
.banner {
  padding: 20px 0px 5px 0px;

  width: 100%;
}

h1 {
  color: #37006b;
  font-size: 2em;
  font-weight: bolder;
}

h2 {
  color: #37006b;
  font-size: 1.5em;
  margin-bottom: 0;
}
.links {
  text-align: right;
}
a {
  background-color: #1572b6;
  text-decoration: none;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 40px;
}
a:hover {
  text-decoration: underline;
  color: #fbd601;
}
p {
  text-align: justify;
  margin: 0;
  padding: 20px;
  text-indent: 30px;
  line-height: 1.5em;
}
#back {
  background-color: white;
  margin-top: 40px;
}
.videoSite {
  margin: 0px 0px;
  /*I can use negative number to measure the magin in case of the body already has margin. Ex: "body: 20px;" and I want to have one div without any margin, I need to use "margin: 0px -20px;" removing the same quantity of margin*/

  background-color: white;
  padding: 10px;
  position: relative;
  padding-bottom: 56%;
}
div.videoSite iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
footer {
  padding-bottom: 20px;
}
