* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
#principal {
  background: linear-gradient(to top, #f1691fa2, #efcc2e8c, #1473b68a);
  font-weight: bold;
  text-align: center;
}
main {
  background-color: white;
  max-width: 800px;
  min-width: 320px;
  margin: auto;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.582);
}

.side {
  float: right;
  padding-left: 20px;
  padding-top: 20px;
}
.banner {
  padding: 20px 0px;

  width: 100%;
}

h1 {
  color: #37006b;
  font-size: 2em;
  font-weight: bolder;
}

h2 {
  color: #37006b;
  font-size: 1.5em;
  margin-bottom: 0;
}
.links {
  text-align: right;
}
a {
  background-color: #1572b6;
  text-decoration: none;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 40px;
}
a:hover {
  text-decoration: underline;
  color: #fbd601;
}
p {
  text-align: justify;
  margin: 0;
  padding: 20px;
  text-indent: 30px;
  line-height: 1.5em;
}
#back {
  background-color: white;
  margin-top: 40px;
}
